<%-include("partials/top",{req});%>

<p style="margin-top:120px;">
    This was developed as a project.It is not my idea.I got the idea from kudosboard.com.
    <br>
    sorry if this page looks ugly ;)

</p>
<h3>Credits for the homepage image</h3>
<p>
    <a href="https://www.freepik.com/vectors/people">People vector created by pikisuperstar - www.freepik.com</a>
    Thank you
</p>
<%-include("partials/bottom",{req});%>
