<%-include("partials/top",{req});%>

<div class="contact">
    
    <a href="mailto:shivaramkumar2000@gmail.com" class="mail">
<div >
    <i class="fas fa-envelope"></i>
    </div>
    </a>

      <a href="https://www.linkedin.com/in/shivaram-muthukumaraswamy-18163417a

" class="link">
<div >
<i class="fab fa-linkedin"></i>
    </div>
    </a>
    
    <a href="https://github.com/Shivaram11" class="git">
<div >
<i class="fab fa-github"></i>
    </div>
    </a>
    
   


</div>



<%-include("partials/bottom",{req});%>
